<footer id="footer">
  <div class="app-container py-6">
    <div class="flex flex-col md:flex-row gap-4 items-start md:items-center">
      <div class="md:basis-1/2 text-sm">
        Vil du bli mer kjent med Herlofsenit?
        <a class="brand font-bold ml-1" href="https://herlofsenit.no" target="_blank" rel="noopener noreferrer">
          Se herlofsenit.no →
        </a>
      </div>
    </div>

    <div class="copy text-center pt-4">
      &copy; Herlofsenit, Inc.
    </div>
  </div>
</footer>
